@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.profileWrapper {
    position: relative;
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--neutral-border-medium);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        background: linear-gradient(
            to bottom,
            transparent 0%,
            var(--background-page) 100%
        );
        pointer-events: none;
        border-radius: 0 0 50% 50%;
    }
}

@media (max-width: breakpoints.$s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}