.carouselWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--radius-m);
  background: var(--surface-background);
}

.carouselWrapper :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
